
@{
    ViewBag.Title = "Home Page";
}

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Neuron HTML CSS Template</title>
    <!--

    Template 2085 Neuron

    http://www.tooplate.com/view/2085-neuron

    -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lora|Merriweather:300,400" rel="stylesheet">

    <style>
        .mySlides {
            display: none;
        }
    </style>
</head>
<body>


    
    <!-- Home Section -->

    <section id="home" class="main-home parallax-section"  style="background-image:url(../../images/pic02.jpg)">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container" >
            <div class="row">

                <div class="col-md-12 col-sm-12">
                   
                    <h1>Hello from  FrogTicketing</h1>
                    <h4>Order every event tickets from yangon at here. </h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Discover More</a>
                </div>

            </div>
        </div>
    </section>

    <!-- Blog Section -->

    <section id="blog">
        <div class="container" align="center">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <p><h3>Best and trustest online event ticket selling in Myanmar.</h3></p>
                    <div class="blog-post-thumb">
                        <div class="w3-content w3-section" style="max-width:900px">
                            <img class="mySlides" src="~/images/pic01.jpg" style="width:100%">
                            <img class="mySlides" src="~/images/pic08.jpg" style="width:100%">
                            <img class="mySlides" src="~/images/pic09.jpg" style="width:100%">
                        </div>
                        <br />
                       
                        <div class="blog-post-des">
       
                          
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12" align="center">

                    <h2>About Us</h2>

                    </div><br /><br /><br />
                    <div class="blog-post-image" align="center">
                        <img src="~/images/pic04.jpg" width="800" />
                    </div>
                    <div align="center">
                        <p>FrogTicketing was created to reduce customers time and fees for event organizer for ticketing their events. We believe that FrogTicketing will make more profit for boyh customers and organizers. We're on a mission to make event ticketing affordable, and convenient for all events in Yangon.</p>
                    </div>
                    <hr /><br /><br /><br />
                    <div class="col-md-12 col-sm-12" align="center">

                        <h2>We Welcome your Feedback</h2>

                    </div><br /><br /><br />
                    <div class="blog-post-image" align="center">
                        <img src="~/images/FeedBack.jpg" width="800" />
                    </div><br />
                    <div align="center">
                        <p>If you want to provide feedback and suggestion to FrogTicketing, please @Html.ActionLink("click here", "Create", "feedbacksession1").</p>
                            </div>
                    
                    <hr /><br /><br /><br />
                    <div class="clearfix" align="center">
                        <p><h2>Our Services</h2></p>
                        <div class="col-md-4 col-sm-4">
                            <img src="~/images/delivery.jpg" class="img-responsive" alt="Blog Image" height="200" width="200">
                            <p><h3>Home Delivery</h3></p>
                       </div>
                            <div class="col-md-4 col-sm-4">
                            <img src="~/images/247.jpg" class="img-responsive" alt="Blog Image" height="200" width="200">
                                <p><h3>   24/7</h3></p>
                       </div>
                        <div class="col-md-4 col-sm-4" align="center">
                            <img src="~/images/record.jpg" class="img-responsive" alt="Blog Image" height="200" width="200">
                            <p><h3>Record your History</h3></p>
                        </div>
                       
                        <hr />
                       
                    </div>
                                    <hr />
                    <div class="blog-post-thumb">
                        <div class="blog-post-image">
                            
                        </div>
                        <div class="blog-post-title" align="center">
                          <h3> Watch Promo Videos at Here! </h3> 
                        </div>

                        <div class="blog-post-des">
                            <p>The following videos are from Jam it show. These fearless Myanmar musicians went deep underground to build a thriving punk and hip-hop scene. So, buy your ticket right now before sold out. Show your love to music. Make fun with FrogTticketing. </p>
                        </div>
                    </div>

                    <div class="blog-post-thumb">
                        <div class="blog-post-video">
                            <div class="embed-responsive embed-responsive-16by9">

                                <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/nQKbbmeV-BU" allowfullscreen></iframe>

                            </div>
                        </div>

                            <div class="blog-post-thumb">
                                <div class="blog-post-video">
                                    <div class="embed-responsive embed-responsive-16by9">

                                        <iframe type="text/html" width="640" height="385" src="http://www.youtube.com/embed/7mf-VlP8Mcg" allowfullscreen></iframe>

                                    </div>
                                </div>

                            </div>

         
                        <div class="blog-post-title" align="center">
                            <h3>Avaliable Events</h3>
                        </div>

                            <div class="clearfix"></div>

s                                                                                                                                                                                                  <div class="col-md-4 col-sm-4">
                                <img src="~/images/no-u-turn.jpg" class="img-responsive" alt="Blog Image">
                                <h3> No U Turn</h3>
                                <p>No U Turn is righr here. Ye'Ngwe Soe(The Holligan) with his band will perform the whole night. Jump with Punk music at Cuba Bar. 12900mmk per one person. @Html.ActionLink("Order", "Create", "orderdetails") now and enjoy with alternative punk music. The show will be at April 11 2019 and only 100 tickets avaliable.  </p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <img src="~/images/42334227_177334776549733_6998163824625712190_n.jpg" class="img-responsive" alt="Blog Image">
                                <h3> Jam It</h3>
                                <p>4th time Jam It is coming. Jam It! is a small, dynamic, independent initiative that strives to give young Burmese musicians and artists a voice and allow them the opportunity to be part of a creative and empowered new generation in Myanmar. Let's jump at The Basement Bar at May 5. Only 100 tickets avaliable so don't miss the chance.</p>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <img src="~/images/pic09.jpg" class="img-responsive" alt="Blog Image">
                                <h3>Rocky Night</h3>
                                <p>This is the reunion of Emperor Rock Band. These rock legends rest for long time and they came back again. Don't miss the chance. At December 1 2019, let hit Yangon with Rock music at Hard Rock Cafe. Only 100 tickets is avaliable so let's @Html.ActionLink("Order", "Create", "orderdetails") now. </p>
                            </div>


                        </div>
                    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><hr />
     
                   
            </div>

               
        </div>
            </div>
    </section>

    <!-- Footer Section -->

    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-5 col-md-offset-1 col-sm-6">
                    <h3>FrogTicketing</h3>
                    <p>The Best and trustest online event ticket selling in Myanmar.</p>
                    <div class="footer-copyright">
                        <p>Copyright &copy; 2019 FrogTicketing - Design: Tooplate</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Talk to us</h3>
                    <p><i class="fa fa-globe"></i> 428(A),Ground Floor, Zaya 15th Street, 10th Quarter, South Okkalapa Tsp, Yangon</p>
               
                    <p><i class="fa fa-phone"></i> +959 956 608 416</p>
                    <p><i class="fa fa-save"></i> info@frogticketing.com</p>
                </div>

                <div class="clearfix col-md-12 col-sm-12">
                    <hr>
                </div>

    

            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>


    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>
</body>

